# ─────────────────────────────
# Node modules
# ─────────────────────────────
../node_modules/
**/node_modules/

# ─────────────────────────────
# Env files
# ─────────────────────────────
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.*

# ─────────────────────────────
# Logs
# ─────────────────────────────
logs/
*.log
npm-debug.log*

# ─────────────────────────────
# Build / dist
# ─────────────────────────────
dist/
build/
**/dist/
**/build/

# ─────────────────────────────
# OS files
# ─────────────────────────────
.DS_Store
Thumbs.db

# ─────────────────────────────
# Vite
# ─────────────────────────────
.vite/

# ─────────────────────────────
# IDEs
# ─────────────────────────────
.vscode/
.idea/

# ─────────────────────────────
# Misc
# ─────────────────────────────
coverage/